sudo: required
dist: trusty
language: java

services:
  - docker

jdk:
 - oraclejdk7

install: true

env:
  global:
    - DOCKER_TLS_VERIFY=""
    # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
    #   via the "travis encrypt" command using the project repo's public key
    - secure: "GonzmzvnXsTNQV+6sKtBSSPiwbpMZjxumNt5LFp1g77/afLxw9kl2EQOXbUe308vFOwRVqeY7drBvNJa8aJkTUClfMaGRjfZ9DUwm6doMKMUYrdEkYoQTcH7yDX5K5w9MT6m+Izj+BK2gB7nK3yFlYG6COeXCdFbQ4/cf3/xfRc="
    - COVERITY_SCAN_PROJECT_NAME="docker-java/docker-java"
    - COVERITY_SCAN_BRANCH_PATTERN="master"
    - COVERITY_SCAN_NOTIFICATION_EMAIL="kanstantsin.sha@gmail.com"

  matrix:
#    - repo="main" DOCKER_HOST="tcp://127.0.0.1:2375" DOCKER_VERSION="1.13.1-0~ubuntu-trusty" CODECOV=true
#    - repo="main" DOCKER_HOST="unix:///var/run/docker.sock" DOCKER_VERSION="1.13.1-0~ubuntu-trusty" CODECOV=true
    - repo="main" DOCKER_HOST="tcp://127.0.0.1:2375" DOCKER_VERSION="1.12.6-0~ubuntu-trusty"  DEPLOY=true COVERITY=true CODECOV=true
    - repo="main" DOCKER_HOST="unix:///var/run/docker.sock" DOCKER_VERSION="1.12.6-0~ubuntu-trusty" CODECOV=true
    - repo="main" DOCKER_HOST="tcp://127.0.0.1:2375" DOCKER_VERSION="1.11.2-0~trusty" CODECOV=true
    - repo="main" DOCKER_HOST="unix:///var/run/docker.sock" DOCKER_VERSION="1.11.2-0~trusty" CODECOV=true
    - repo="main" DOCKER_HOST="tcp://127.0.0.1:2375" DOCKER_VERSION="1.10.3-0~trusty" CODECOV=true
    - repo="main" DOCKER_HOST="unix:///var/run/docker.sock" DOCKER_VERSION="1.10.3-0~trusty" CODECOV=true
#    - repo="testing" DOCKER_HOST="tcp://127.0.0.1:2375"
#    - repo="testing" DOCKER_HOST="unix:///var/run/docker.sock"
#    - repo="experimental" DOCKER_HOST="tcp://127.0.0.1:2375"
#    - repo="experimental" DOCKER_HOST="unix:///var/run/docker.sock"

cache:
  directories:
  - $HOME/.travis_cache
  - /tmp/coverity-cache
  - $HOME/.m2 # install will pollute it

before_install:
  - pip install --user codecov
  - ./.travis/travis-before-install.sh

script:
  - ./.travis/travis-script.sh

after_success:
  - ./.travis/travis-after-success.sh

after_script:
  - sudo cat /var/log/upstart/docker.log
