<configuration debug="true"> <!-- This will give you some valuable info about logback config upon runtime. Remove this for production. -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.github.dockerjava" level="DEBUG"/>
	<logger name="com.github.dockerjava.jaxrs" level="INFO"/>
	<logger name="com.github.dockerjava.netty" level="INFO"/>
	<logger name="com.github.dockerjava.httpclient5" level="INFO"/>
	<logger name="com.github.dockerjava.okhttp" level="INFO"/>


	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>

</configuration>
