name: Release

on:
  release:
    types:
      - prereleased
      - released

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Set version
        run: ./mvnw versions:set -DnewVersion="${{github.event.release.tag_name}}"
      # TODO check master's CI status
      - name: Deploy with Maven
        env:
          MAVEN_DEPLOYMENT_REPOSITORY: ${{ secrets.MAVEN_DEPLOYMENT_REPOSITORY }}
        run: ./mvnw deploy -DaltReleaseDeploymentRepository="$MAVEN_DEPLOYMENT_REPOSITORY"
